{{ partial "header.html" . }}
{{ if .Params.image }}
  {{ partial "header/page_cover.html" . }}
{{ else }}
  <header class="main-header post-head no-cover">
{{ end }}

  {{ partial "navigation.html" . }}
  {{ partial "header/title.html" . }}
</header>

<main class="content" role="main">
  <article class="post {{ .Section }}">
    <header class="post-header">
      <h1 class="post-title">{{.Title}}</h1>
      <small>{{.Description}}</small>

      <section class="post-meta">
      {{ $baseurl := .Site.BaseURL }}
      {{ if eq .Section "post"}}
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "Jan 2, 2006" }}
        </time>
      {{end}}
       {{ range .Params.tags }}
        <span class="post-tag small"><a href="{{ $baseurl }}tags/{{ . | urlize }}/">#{{ . }}</a></span>
       {{ end }}
      </section>
    </header>

    <section class="post-content">
      {{ .Content }}
    </section>

  <footer class="post-footer">
    {{ if .Site.Params.logo }}
    <figure class="author-image">
        <a class="img" href="{{ .Site.BaseURL }}" style="background-image: url({{ .Site.Params.logo | relURL }})"><span class="hidden">{{.Site.Params.author}}'s Picture</span></a>
    </figure>
    {{ end }}

    {{ partial "author.html" . }}

    {{ partial "share.html" . }}

    {{ partial "disqus.html" . }}

  </footer>
</article>

</main>

{{ if and (eq .Section "post") (not .Params.hideSuggestions)  }}
  {{ partial "suggestions.html" . }}
{{ end }}

{{ partial "footer.html" . }}
