
  /** Home **/

  .intro {
    transform: translateY(25vh);
    text-align: center;
    .avatar {
      padding: 10px;
      img {
        width: 128px;
        height: auto;
        display: inline-block;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -webkit-box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
        margin: 0 auto;
        -webkit-transition: all ease 0.4s;
        -moz-transition: all ease 0.4s;
        -o-transition: all ease 0.4s;
        transition: all ease 0.4s;
        cursor: pointer;
        &:hover {
          position: relative;
          -webkit-transform: translateY(-0.75em);
          -moz-transform: translateY(-0.75em);
          -ms-transform: translateY(-0.75em);
          -o-transform: translateY(-0.75em);
          transform: translateY(-0.75em);
          cursor: pointer;
        }
      }
    }
  }

  h2.description {
    font-size: 1em;
    font-weight: normal;
    padding: 5px;
  }

  .social-links {
    padding-top: 10px;
    a {

      padding: 0 5px;
      &:hover {

        background-color: transparent;
      }
    }
    .iconfont {
      font-size: 2em;
    }
  }

  .post-toc {
    position: absolute;
    width: 200px;
    margin-left: 780px;
    padding: 10px;
    word-wrap: break-word;
    box-sizing: border-box;
    color: $light-font-secondary-color;

    .post-toc-title {
      margin: 0;
      font-weight: 400;
      text-transform: uppercase;
    }

    .post-toc-content {
      >nav>ul {
        margin: 10px 0;
      }

      a {
        border-left: 3px solid $light-font-secondary-color;
        padding-left: 0.5rem;

        &:hover {
          border-left: 3px solid $light-navbar-active-color;
          text-decoration: none;
          color: $light-navbar-active-color;

          .dark-theme & {
            border-left-color: $dark-post-link-color;
          }
        }
      }

      ul {
        padding-left: 0;
        list-style: none;

        ul {
          // padding-left: 0.75rem;

          li {
            display: list-item;
            opacity: 100%;
            height: 0;
            width: 0;

            -webkit-transition: all 0.4s, width 20ms, opacity 820ms;
            -moz-transition: all 0.4s, width 20ms, opacity 820ms;
            -o-transition: all 0.4s, width 20ms, opacity 820ms;
            transition: all 0.4s, width 20ms, opacity 820ms;
          }
        }

        a.has-active {
          color: $light-post-link-color;

          .dark-theme & {
            color: $dark-post-link-hover-color;
          }
        }
      }

      &.always-active ul {
        display: block;

        ul li {
          opacity: 100%;
          height: 30px;
          width: 100%;
        }
      }

      a {
        color: $light-font-secondary-color;
      }
    }

    a {
      display: block;
      line-height: 30px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: underline;
        color: $light-global-link-hover-color;

        .dark-theme & {
          color: $dark-global-link-hover-color;
        }
      }
    }

    @media only screen and (max-width: 1224px) {
      & {
        display: none;
      }
    }
  }
