/** Post **/

.post-cover {
  img {
    width: 100%;
    object-fit: cover;
    height: 40vh;
    min-height: 180px;
  }

  .cover-author {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-align: center;
    font-size: 0.85rem;
    color: $light-font-secondary-color;
  }

  margin-bottom: 2em;
}

.post-warp {
  position: relative;
  width: 100%;
  max-width: 780px; //calc(100% - 4.4rem);
  margin: 0 auto;
  padding-top: 1rem;
  font-size: 1.2em;

  .post-header {
    margin-bottom: .5em !important;

    h1 {
      margin: 0 !important;
    }
  }

  .post-title {
    font-size: 2.2em;
    line-height: 1.3em;

    .post-isdraft {
      color: $light-post-link-hover-color;
      padding-left: 0.2em;

      .dark-theme & {
        color: $dark-post-link-hover-color !important;
      }
    }
  }

  .section-title {
    margin: 1.5rem 0 1rem 0;
    text-align: center;
  }

  .post-meta {
    color: rgba(85, 85, 85, 0.52941) !important;
    .dark-theme & {
      color: $dark-font-secondary-color !important;
    }

    a {
      color: $light-post-link-color;
      .dark-theme & {
        color: $dark-post-link-color;
      }

      &:hover {
        color: $light-post-link-hover-color;
        .dark-theme & {
          color: $dark-post-link-hover-color;
        }
      }
    }
  }

  .post-content {
    padding-top: 0.25rem;
    word-break: break-all;

    .post-series {
      display: block;
      position: relative;
      margin: .5em 0;
      background: $light-background-color;
      border-radius: 6px;
      transition: transform .1s;
      border: 1px solid $light-border-color;

      .dark-theme & {
        background: $dark-background-color;
        border-color: $dark-border-color;
      }

      h4.series-title {
        font-size: 1.25rem;
        font-weight: 400;
        border-bottom: 1px solid $light-border-color;
        padding-bottom: .5em;
        padding-left: .75em;

        .dark-theme & {
          border-color: $dark-border-color;
        }
      }
    }

    del {
      text-decoration-thickness: 2px;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-top: .5em;
      padding-bottom: .3em;
    }
    h2::before {
      content: "#";
      margin-right: 5px;
      color: $light-post-link-color;
      .dark-theme & {
        color: $dark-post-link-color;
      }
    }

    h3::before {
      content: "|";
      margin-right: 5px;
      color: $light-post-link-color;

      .dark-theme & {
        color: $dark-post-link-color;
      }
    }

    a {
      color: $light-post-link-color;
      .dark-theme & {
        color: $dark-post-link-color;
      }
    }

    a:hover {
      color: $light-post-link-hover-color;
      .dark-theme &:hover {
        color: $dark-post-link-hover-color;
        // font-weight: bold;
        text-decoration: underline;
      }
    }

    ul {
      padding-left: 2em;
      margin-bottom: 1.25em;
    }

    table {
      max-width: 100%;
      margin: 10px 0;
      border-spacing: 0;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.125);

      th,
      td {
        padding: 5px 15px;
        border: 1px double #ebe9f5;

        .dark-theme & {
          border-color: $dark-border-color;
        }
      }
    }

    img {
      max-width: 100%;
    }

    figure {
      figcaption {
        h4 {
          font-size: 0.9rem;
          font-weight: 400;
          line-height: 1.5em;
          padding-top: 0;
          padding-bottom: 0;
          color: $light-font-secondary-color;

          .dark-theme & {
            color: $dark-font-secondary-color;
          }
        }
      }

      .error-image {
        background-color: #d9d9d9;
        border: 1px solid #ebe9f5;
        width: 100%;
        height: 80px;
        line-height: 80px;
        text-align: center;

        p {
          line-height: 1.5;
          display: inline-block;
          vertical-align: middle;
        }
      }

      .source {
        float: right;
        padding-top: 0;
      }
    }

    .image-caption:not(:empty) {
      min-width: 20%;
      max-width: 100%;
      display: inline-block;
      padding: 10px;
      margin: 0 auto;
      border-bottom: 1px solid #d9d9d9;
      font-size: 14px;
      color: #969696;
      line-height: 1.7;
    }

    // img {
    //   display: block;
    //   max-width: 100%;
    //   height: auto;
    //   margin: 0 auto;
    //   overflow: hidden;

    //   .dark-theme & {
    //     filter: brightness(50%)
    //   }
    // }

    // img[data-action="zoom"] {
    //   cursor: zoom-in;
    // }

    // .gallery {
    //   padding: 2px;
    //   background-color: #ffffff;
    //   max-width: 800px;
    //   width: 100%;
    //   display: flex;
    //   flex-direction: row;
    //   flex-wrap: wrap;

    //   .photo {
    //     min-width: calc(100% / 3); //This is the maximum number (3) in a row bit
    //     background-size: cover;
    //     background-position: center;

    //     @media screen and (max-width: 700px) {
    //       min-width: calc(100% / 2); //As simple as this for responsiveness without a delay you would get with JavaScript
    //     }
    //     @media screen and (max-width: 460px) {
    //       min-width: 100%;
    //     }
    //     &:after {
    //       //Aspect Ratio
    //       padding-top: 83.33333%; //For 5:6 height to width ratio
    //       display: block;
    //       content: "";
    //     }
    //     &:before {
    //       //Gaps
    //       z-index: 2;
    //       position: absolute;
    //       content: "";
    //       top: 0px;
    //       right: 0px;
    //       bottom: 0px;
    //       left: 0px;
    //       box-shadow: inset 0 0 0 2px #ffffff; //Cheaty way to make it look like there are gaps 😜
    //     }
    //     &:nth-child(1) {
    //       //Make first image big
    //       width: 55%;
    //     }
    //     &:nth-child(2) {
    //       //Make first image big
    //       width: 40%;
    //     }
    //   }

    //   &.square .photo:after {
    //     padding-top: 100%;
    //   }

    //   &.portrait .photo:after {
    //     padding-top: 120%;
    //   }
    // }

    // $size: 3;
    // .gallery {
    //   max-width: 800px;
    //   width: 100%;
    //   display: grid;
    //   // height: calc(100vh - 10px);
    //   grid-template-columns: repeat(8, 1fr);
    //   grid-template-rows: repeat(8, 1fr);
    //   grid-gap: 0.5em;

    //   // @media (max-width: 800px) {
    //   //   display: flex;
    //   //   align-items: flex-start;
    //   //   flex-wrap: wrap;
    //   //   justify-content: center;
    //   //   & > figure {
    //   //     width: 48%;
    //   //     margin: 1%;
    //   //     @media (max-width: 350px) {
    //   //       width: 98%;
    //   //     }
    //   //   }
    //   // }

    //   & > figure {

    //     // //Grid Structure
    //     // &:nth-child(#{$size}n + 1) {
    //     //   grid-column: span 2;
    //     //   grid-row: span 2;
    //     // }

    //     &:nth-child(1) {
    //       grid-column: span 5;
    //       grid-row: span 8;
    //     }

    //     &:nth-child(2) {
    //       grid-column: span 3;
    //       grid-row: span 8;
    //     }
    //     // &:nth-child(4) {
    //     //   grid-column: span 1;
    //     //   grid-row: span 2;
    //     // }

    //     // & > a {
    //     //   position: absolute;
    //     //   $shadow: 5px #fff;
    //     //   text-shadow: 0 -1px $shadow,
    //     //                -1px 0px $shadow,
    //     //                0 1px $shadow,
    //     //                1px 0px $shadow;
    //     //   padding: 2rem;
    //     //   width: 100%;
    //     //   height: 100%;
    //     //   transition: all ease 1s;
    //     // }

    //     & > img {
    //       width: 100%;
    //       height: 100%;
    //       object-fit: cover;
    //     }
    //   }

    //   & > figure {
    //     overflow: hidden;
    //     position: relative;
    //   }

    //   figure,
    //   a {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     text-decoration: none;
    //   }
    // }

    .featured_image {
      width: 100% !important;
      max-width: 100% !important;
      height: auto !important;
      margin: 0 !important;
    }

    // 隐藏文字
    .spoiler,
    .spoiler a {
      color: transparent;
      text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);

      .dark-theme & {
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
      }
    }

    .spoiler:hover,
    .spoiler a:hover {
      color: $light-font-color;
      text-shadow: none;

      .dark-theme & {
        color: $dark-font-color;
      }
    }

    // 嵌入 BiliBili 视频
    #biliplayer {
      width: 100%;
      height: 550px;
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
      #biliplayer {
        width: 100%;
        height: 250px;
      }
    }
  }

  figure {
    p {
      font-size: 0.9rem;
      font-weight: 400;
      line-height: normal;
      padding: 0;
      margin: 0;
      color: $light-font-secondary-color;

      .dark-theme & {
        color: $dark-font-secondary-color;
      }
    }
  }

  p {
    margin: .5em 0 1.2em 0;
    line-height: 1.7;
  }

  blockquote {
    p {
      margin: .5em 0;
    }
  }

  .post-copyright {
    margin-top: 5rem;
    border-top: 1px solid $light-border-color;
    border-bottom: 1px solid $light-border-color;

    .copyright-item {
      margin: 5px 0;
    }

    .lincese {
      font-weight: bold;
    }

    .dark-theme & {
      border-top: 1px solid $dark-border-color;
      border-bottom: 1px solid $dark-border-color;
    }
  }

  .footnotes {
    hr {
      .dark-theme & {
        border-color: $dark-border-color;
      }
    }
  }

  .post-donate {
    border-top: 1px solid $light-border-color;
    border-bottom: 1px solid $light-border-color;
    padding: 2rem 0;
    width: 100%;
    text-align: center;
    .post-donate-title {
      margin: 0 0 0.4rem 0;
    }

    .post-donate-channel {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 240px;
        height: 240px;

        .dark-theme & {
          filter: saturate(50%);
        }
      }
    }

    .dark-theme & {
      border-color: $dark-border-color;
    }
  }

  .post-tags {
    padding: 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
  }

  .post-nav {
    &:before,
    &:after {
      content: " ";
      display: table;
    }

    padding: 1rem 0 1rem;

    & a.prev,
    & a.next {
      font-weight: 600;
      font-size: 16px;

      transition-property: transform;
      transition-timing-function: ease-out;
      transition-duration: 0.3s;
    }

    & a.prev {
      float: left;
    }

    & a.prev:hover {
      transform: translateX(-4px);
    }

    & a.next {
      float: right;
    }
    & a.next:hover {
      transform: translateX(4px);
    }
  }

  .tag:not(:last-child) a::after {
    content: " / ";
  }

  .post-comment{
    clear: both;
    padding-top: 2rem;
  }

  // updated shortcode
  .updated {
    position: relative;
    -webkit-box-flex: 1;
    min-width: 0;
    border-radius: 10px;
    border: 1px solid $light-border-color;
    background-color: $light-background-color;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;

    .dark-theme & {
      border: 1px solid $dark-border-color;
      background-color: $dark-background-color;
    }

    .updated-header {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 1em 1.5em;
      position: relative;

      h4.updated-title {
        padding: 0;
        line-height: 1.5;
        font-size: 2em;
      }

      .updated-meta {
        margin: 0;
        font-size: 1.2rem;
        color: $light-font-secondary-color;
        font-weight: 600;
      }
    }

    .color-note {
      background: $light-box-shadow-color;
      .dark-theme & {
        color: $dark-post-link-color;
        background: $dark-box-shadow-color;
      }
    }

    .color-info {
      background: #80d280;
      color: #003100;

      .dark-theme & {
        background: #003100;
        color: #e6f6e6;
      }
    }

    .color-tip {
      background: #cffbcf;
      color: #003100;

      .dark-theme & {
        background: #003100;
        color: #e6f6e6;
      }
    }

    .color-warning {
      background: #FFF8E6;
      color: #4D3800;

      .dark-theme & {
        background: #4D3800;
        color: #FFF8E6;
      }
    }

    .updated-body {
      padding: 1.3em;

      p:first-child {
        padding: 0;
        margin: 0;
      }

      p:last-child {
        padding: 0;
        margin: 0;
      }
    }
  }
}
