{{ $thumbMinWidth := int (.Get "thumb-min-width" | default "800") }}
{{ $thumbSize := .Get "thumb-size" | default (printf "%dx" $thumbMinWidth) }}
{{ $thumbMethod := .Get "thumb-method" | default "resize" }}

{{ $imageUrl := .Get "src" }}
{{ $linkUrl := .Get "link" }}

{{ $image := resources.Get "404" }}
{{- if or (hasPrefix $imageUrl "http://") (hasPrefix $imageUrl "https://") -}}
{{ $image = resources.GetRemote $imageUrl }}
{{- else -}}
{{ $image = resources.Get $imageUrl }}
{{- end -}}

<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
{{- with $image -}}
  {{ $pswpWidth := .Params.Get "pswp-width" | default .Width }}
  {{ $pswpHeight := .Params.Get "pswp-height" | default .Height }}
  {{ $cropped := .Params.Get "cropped" }}

  {{- if le $thumbMinWidth $pswpWidth -}}
    {{ $linkUrl = $imageUrl }}

    {{- if eq $thumbMethod "fit" -}}
    {{ $imageUrl = (.Fit $thumbSize).RelPermalink | relURL }}
    {{- else if eq $thumbMethod "fill" -}}
    {{ $imageUrl = (.Fill $thumbSize).RelPermalink | relURL }}
    {{- else -}}
    {{ $imageUrl = (.Resize $thumbSize).RelPermalink | relURL }}
    {{- end -}}
  {{- end -}}

  {{- if $linkUrl -}}
  <a href="{{ $linkUrl }}" class="gallery-item" target="{{ .Params.Get "target" | default "_blank" }}"
    {{- with .Params.Get "rel" }} rel="{{ . }}"{{ end -}}
    {{- with $pswpWidth }} data-pswp-width="{{ . }}"{{ end -}}
    {{- with $pswpHeight }} data-pswp-height="{{ . }}"{{ end -}}
  >
  {{- end -}}
  <img src="{{ $imageUrl }}"
      {{- if or (.Params.Get "alt") (.Params.Get "caption") }}
      alt="{{ with .Params.Get "alt" }}{{ . }}{{ else }}{{ .Params.Get "caption" | markdownify| plainify }}{{ end }}"
      {{- end -}}
  /><!-- Closing img tag -->
  {{- if $linkUrl }}</a>{{ end -}}
{{- else -}}
<div class="error-image">
  <p>Can not load image which it was not exist: {{ $imageUrl }}</p>
</div>
{{- end -}}

{{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
<figcaption>
  {{ with (.Get "title") -}}
    <h4>{{ . }}</h4>
  {{- end -}}

  {{- if or (.Get "caption") (.Get "attr") -}}
  <p>
    {{- .Get "caption" | markdownify -}}
    {{- with .Get "attrlink" }}<a href="{{ . }}">{{- end -}}
    {{- .Get "attr" | markdownify -}}
    {{- if .Get "attrlink" }}</a>{{ end }}
  </p>
  {{- end }}
</figcaption>
{{- end -}}

</figure>
