{{ $title := .Get "title" | default (i18n "update") }}
{{ $date := .Get "at" }}
{{ $color := .Get "color" | default "primary" }}
{{ $body := .Inner }}

{{ with $body }}
<div class="updated">
  <header class="updated-header color-{{ $color }}">
    <h4 class="updated-title">{{ $title }}</h4>
    {{ with $date }}
    <p class="updated-meta">{{ time.Format "Jan 2, 2006" $date }}</p>
    {{ end }}
  </header>
  <article class="updated-body">
    {{ $body | markdownify }}
  </article>
</div>
{{ end }}
