/** common **/

$scrollbar-thickness: 8px;
$scrollbar-bold-thickness: 12px;

/** light theme **/

$light-background-color: #fff;

$light-font-color: #161209;
$light-font-secondary-color: #94989b;

$light-code-background-color: #272822;
$light-code-notclass-background-color: #dbdbdb;
$light-code-highlight-background-color: #004057;

$light-navbar-active-color: #161209;
$light-navbar-background-color: #fafafa;

$light-global-link-color: #161209;
$light-global-link-hover-color:#2d96bd;

$light-post-link-color: #2d96bd;
$light-post-link-hover-color:#ef3982;

$light-pagination-link-color : #2d96bd;
$light-pagination-link-active-color: #000;

$light-border-color: #dcdcdc;

$light-blockquote-board-color: #2d96bd;
$light-blockquote-background-color: #f1f1f1;

$light-scrollbar-thumb-color: #00a2dd;
$light-scrollbar-thumb-hover-color: #016d94;

$light-box-shadow-color: #ccc;

$light-badge-text-color: #fff;
$light-success: #a3cfbb;
$light-success-text-color: #146c43;
$light-warning: #ffe69c;
$light-warning-text-color: #997404;
$light-danger: #f1aeb5;
$light-danger-text-color: #b02a37;
$light-notice: #9eeaf9;
$light-notice-text-color: #087990;

/** dark theme **/

$dark-badge-text-color: #fff;
$dark-success: #0f5132;
$dark-success-text-color: #75b798;
$dark-warning: #664d03;
$dark-warning-text-color: #e7c96f;
$dark-danger: #842029;
$dark-danger-text-color: #ea868f;
$dark-notice: #055160;
$dark-notice-text-color: #5dc4d8;

$dark-background-color: #08090a;

$dark-font-color: #acb1bf;
$dark-font-secondary-color: #87878d;

$dark-code-background-color: #21232a;
$dark-code-notclass-background-color: #312e2e;
$dark-code-highlight-background-color: #312e2e;

$dark-navbar-active-color: #fff;
$dark-navbar-background-color: #141618;

$dark-global-link-color: #acb1bf;
$dark-global-link-hover-color:#fff;

$dark-post-link-color: #1d78bd;
$dark-post-link-hover-color:#1d78bd;

$dark-pagination-link-color : #acb1bf;
$dark-pagination-link-active-color: #fff;

$dark-border-color: #4a4b50;

$dark-blockquote-board-color: #4a4b50;
$dark-blockquote-background-color: #252529;

$dark-scrollbar-track-color: rgb(37, 37, 37);
$dark-scrollbar-thumb-color: #666;
$dark-scrollbar-thumb-hover-color: #666;

$dark-box-shadow-color: rgb(71, 71, 71);
