<div class="post-warp">
  {{ partial "home_profile.html" . }}

  {{ $pages := union .RegularPages .Sections }}

  {{ if .IsHome }}
  {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ end }}

  {{ $paginator := .Paginate $pages }}

  {{ range $index, $page := $paginator.Pages }}
    {{ if .Params.image }}
    {{ $img := .Params.image | relURL }}

    <article class="post-block">
      <a href="{{ .Permalink }}">
        <header class="post-header">
          <img src="{{ printf "%s" $img }}" class="cover">
          <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
        </header>
        <div class="post-content">
          {{ .Summary }}
          {{ if .Truncated }}
          ...
          {{ end }}
        </div>
      </a>
    </article>
    {{ else }}
    <article class="post-inline">
      <a href="{{ .Permalink }}">
        <header class="post-header">
          <h1 class="post-title">{{ .Title }}</h1>
        </header>
        <div class="post-content">
          {{ .Summary }}
          {{ if .Truncated }}
          ...
          {{ end }}
        </div>
      </a>
    </article>
    {{ end }}
  {{ end }}

  {{ partial "paginator.html" . }}
</div>
