<div class="post-warp">
  {{ partial "home_profile.html" . }}

  {{ $pages := union .RegularPages .Sections }}

  {{ if .IsHome }}
  {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
  {{ end }}

  {{ $paginator := .Paginate $pages }}

  {{ range $index, $page := $paginator.Pages }}
    {{ if .Params.image }}
    {{ $img := .Params.image }}
    <article class="post-block">
      <header class="post-header">
        <img src="{{ printf "%s" $img }}" class="cover">
        <h1 class="post-title" itemprop="name headline"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      </header>
      <div class="post-content">
        {{ .Summary }}
        {{ if .Truncated }}
        ...
        {{ end }}
      </div>
    </article>
    {{ else }}
    <article class="post-inline">
      <header class="post-header">
        <h1 class="post-title" itemprop="name headline"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      </header>
      <div class="post-content">
        {{ .Summary }}
        {{ if .Truncated }}
        ...
        {{ end }}
      </div>
    </article>
    {{ end }}
  {{ end }}

  {{ partial "paginator.html" . }}
</div>
