{{ partial "header.html" . }}
{{ if .Params.image }}
  {{ partial "header/page_cover.html" . }}
{{ else if .Site.Params.cover }}
  {{ partial "header/tag_cover.html" . }}
{{ else }}
  <header class="main-header post-head no-cover">
{{ end }}

  {{ partial "navigation.html" . }}
</header>


<main id="content" class="content" role="main">

  <article class="post">
    <h1>404 Not Found</h1>
    <p>Sorry, but we couldn't find the page you're looking for.</p>
    <p>Please head back <a href="{{ .Site.BaseURL }}">home</a>.</p>
  </article>

{{ partial "footer.html" . }}