.shortcode-github {
  @extend .post-block;

  &:hover {
    cursor: unset !important;
  }

  h4.title {
    padding: 0.25rem 0;
  }

  .description {
    @extend .post-content;

    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  .stats {
    font-size: 0.75em;

    svg {
      vertical-align: text-bottom;
    }
  }
}
